.header-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  @include text-main-font;
  line-height: 1;
  position: relative;
  font-weight: 800;

  span {
    position: absolute;
    z-index: 0;
    left: 0;
    font-size: 150px;
    color: transparent;
    -webkit-text-stroke: 1px $dark;
    font-weight: 900;
    opacity: 0.2;
    top: 50%;
    transform: translateY(-50%);
  }
}

.text-outline {
  color: transparent;
  -webkit-text-stroke: 1px $dark;
  font-weight: 900;
  top: 50%;
  transform: translateY(-50%);
  @include text-main-font;
}
